@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    background: rgb(43, 63, 96) url("https://images.unsplash.com/photo-1578360317394-bd5ae803e153?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670") no-repeat center center/cover;
    color: rgb(239, 239, 239);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.mainH1{
    border: 1px solid rgb(36, 36, 36);
}

.container{
    border: 1px solid rgb(36, 36, 36);
}

.circleDiv{
    border: 1px solid rgb(36, 36, 36);
}

.circleText{
    border: 1px solid rgb(36, 36, 36);
}

.pointerContainer{
    border: 1px solid rgb(36, 36, 36);
}

.gradientCircle{
    border: 1px solid rgb(36, 36, 36);
}

  
   